<div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="/vehicles"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-car"></i></span>
        <br>Vehicles
      </a>
    </div>
    <div class="col-sm">
        <a href="/vehicles"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>Btn 1
        </a>
    </div>
    <div class="col-sm">
      <a href="/vehicles"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>Btn 2
      </a>
    </div>
    <div class="col-sm">
      <a href="/vehicles"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-users"></i></span>
        <br>Btn 3
      </a>
    </div>
  </div>
</div>